*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;

}
.text-primary{
    color: white;
}
/* Header*/
.header{
    background-image: url(../images/banner/banner2.1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1600px;
    height: 809px;
   
}
.header-title{
    width: 525px;
    color: var(--Dark-01, #151414);
    text-align: left;
    font-size: 65px;
    font-weight: 700;
    padding: 216px 845px 10px 230px;
}
.header-discription{
    width: 494px;
    color: var(--Dark-02, #444343);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 10px 845px 10px 230px;

}
.btn-primary{
   padding:10px 845px 10px 230px ;
}
.btn-text{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;  
}
/* Banner section-1 */


.my-failures-of-year{
    width: 1600px;
    height: 833px;
    background: #FFF;
    display: flex;
    background-repeat: no-repeat;
    margin-top: 130px;
    margin-left: 110px;
    gap: 1px;
}
.image{
    padding: 20px;
}

.my-failures-of-year-title{
    width: 288px;
    color: var(--Dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    padding-top: 270px;
    padding-left: 5px;

}
.my-failures-of-year-description{
    width: 416px;
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-top: 24px;
    padding-left: 5px;
}
.options{
    padding-left: 5px;
    padding-top: 10px;
}
.options-text{
    list-style: none;
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.images-2{
    height: 16px;
    width: 16px;
    filter: invert(63%) sepia(61%) saturate(569%) hue-rotate(102deg) brightness(94%) contrast(93%);
}
 
/* Banner section-2 */
.banner-section-2{
    background: rgb(253, 253, 253);
    margin-top: 100px;
    margin-left: 110px;
    margin-right: 10px;
    width: 1140px;
    text-align: center;
    
}
 
.my-plans{
    color: var(--Dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-left: 410px;

}
.options-1{
    display: flex;
    text-align: center;
   

    
}
.my-plans-options{
    display: flex;
    list-style: none;
    gap: 120px;
    padding-left: 20px;
    padding-top: 62px ;
}
.my-plans-title{
    color: var(--Dark-01, #151414);
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    padding-top: 18.3px ;
}
.my-plans-discription{
    color: var(--Dark-03, #737272);
    font-size: 25px;
    font-weight: 500;

}
/* banner-section-3 */
.banner-section-3{
    margin-top: 100px;
    margin-left: 210px;
    background-image: url("../images/gradient2.png"),url("../images/watch.png") ; 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 1140px;
    height: 300px;
    flex-shrink: 0;
}
.awlesyes-title{
    color: #FFF;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    padding: 59px 617px 6px 64px;
    text-align: left;
}
.btn-primary-1{
   padding: 12px 916px 59px 64px;
}
.btn-awlesyes{
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
}

/* new section */

.my-promise{
    width: 1600px;
    height: 577px;
    display: flex;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 500px;

}
.my-promise-text{
    padding-top: 350px;    
}
.my-promise-title{
    width: 288px;
    color: var(--Dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}
.my-promise-discrption{
    width: 416px;
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-bottom: 20px;

}
.my-promise-Img{
    padding: 270px 200px 100px 200px;
}


/* footer */

footer{
    width: 1600px;
    height: 577px;
    flex-shrink: 0;
    background: var(--Dark-01, #151414);
    margin-top: 200px;
}
.footer{
    display: flex;
    gap: 20px;
}
.foot-text{
    text-align: left;
}
.footer-title{
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 130px;
    padding-left: 230px;
}
.futter-discription{
    width: 485px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-top: 16px;
    padding-left: 230px;
    
}
.futter-email{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-top: 16px;
    padding-left: 230px;

}
.futter-phone{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-top: 16px;
    padding-left: 230px;
    padding-bottom: 16px;

}
.icons{
    padding-left: 230px;
    
}
a{
    padding-left: 8px;
}
.text{
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 600;
    padding: 130px 431px 20px ;

}
.btn-prymari{
    padding-top: 10px;
}
.btn-subscrib{
    width: 98.061px;
    color: #F15B22;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 170.106px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;

}
.email{
    padding-top: 20px;
  

}
input{
    width: 325px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: var(--Dark-01, #151414);
    color: var(--Dark-07, #F3F3F3);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal; 
    font-weight: 400;
    line-height: normal;
    padding-left: 21px ;
}
